*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF8E1;
    color: #4E4E4E;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
}

.banner {
    background-color: #FFC107;
    color: #5D4037;
    text-align: center;
    padding: 100px 0;
}

.banner h2 {
    font-size: 36px;
    transition: transform 0.3s ease;
}

.banner h2:hover {
    transform: scale(1.1);
}

.banner p {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    background-color: #FFF8E1;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #000000;
    color: #ffffff;
}

.hamburguesa {
    padding: 50px;
}

.bordered-card {
    border: 2px solid black; 
    padding: 10px; 
    box-sizing: border-box;
}

.card {
    width: 250px;
    margin: 20px;
    padding: 16px;
}

.card-body {
    padding: 16px;
}

.animacion {
    transition: transform 0.3s ease; 
}

.animacion:hover {
    transform: scale(1.1); 
}
footer {
    background-color: #5D4037;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}
@media only screen and (max-width: 400px) {
    header {
        padding: 10px;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .banner {
        padding: 50px 0;
    }

    .banner h2 {
        font-size: 24px;
    }

    .banner p {
        font-size: 16px;
    }

    .card {
        width: 100%;
        margin: 10px 0;
    }
}
